.footer{
    margin-bottom: 0;
    background-color: rgb(40,40,40);
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright{
    width: max-content;
    height: max-content;
    color: white;
    font-weight: 300;
    padding-left: 1rem;
    padding-right: 1rem;
}
